<?xml version="1.0" encoding="UTF-8"?>
<module>
    <info name="utau" description="Pipeline-based multimedia processing framework"/>
    <metadata namespace="cocoa::gallium::bindings::utau_wrap" class="UtauBinding"/>
    <include src="Gallium/bindings/utau/Exports.h"/>
    <include src="Gallium/bindings/utau/MediaFramePresentDispatcher.h"/>

    <hook on="instantiate" call="SetInstanceProperties"/>

    <exports>
        <toplevel type="declaration" name="Constants"/>
        <toplevel type="function" name="getCurrentTimestampMs" value="getCurrentTimestampMs"/>
        <toplevel type="function" name="getPixelFormatDescriptor" value="getPixelFormatDescriptor"/>

        <class name="AudioDevice" wrapper="AudioDeviceWrap">
            <method static="true" name="ConnectPipeWire" value="@ConnectPipeWire"/>
            <method name="unref" value="@unref"/>
            <method name="createSinkStream" value="@createSinkStream"/>
        </class>

        <class name="AudioSinkStream" wrapper="AudioSinkStreamWrap">
            <method name="dispose" value="@dispose"/>
            <method name="connect" value="@connect"/>
            <method name="disconnect" value="@disconnect"/>
            <method name="enqueue" value="@enqueue"/>
            <method name="getCurrentDelayInUs" value="@getCurrentDelayInUs"/>
            <property name="volume" getter="@getVolume" setter="@setVolume"/>
            <property name="onVolumeChanged" getter="@getOnVolumeChanged" setter="@setOnVolumeChanged"/>
        </class>

        <class name="AudioBuffer" wrapper="AudioBufferWrap">
            <method name="read" value="@read"/>
            <method name="readChannel" value="@readChannel"/>
            <method name="dispose" value="@dispose"/>
            <method name="clone" value="@clone"/>
            <property name="pts" getter="@getPTS"/>
            <property name="duration" getter="@getDuration"/>
            <property name="sampleFormat" getter="@getSampleFormat"/>
            <property name="channelMode" getter="@getChannelMode"/>
            <property name="sampleRate" getter="@getSampleRate"/>
            <property name="samplesCount" getter="@getSamplesCount"/>
        </class>

        <class name="AVFilterDAG" wrapper="AVFilterDAGWrap">
            <method static="true" name="MakeFromDSL" value="@MakeFromDSL"/>
            <method name="filter" value="@filter"/>
        </class>

        <class name="VideoBuffer" wrapper="VideoBufferWrap">
            <method name="dispose" value="@dispose"/>
            <method name="clone" value="@clone"/>
            <method name="readComponent" value="@readComponent"/>
            <method name="readComponentAsync" value="@readComponentAsync"/>
            <method name="readGrayscale" value="@readGrayscale"/>
            <method name="transferHardwareFrameDataTo" value="@transferHardwareFrameDataTo"/>
            <method name="queryHardwareTransferableFormats" value="@queryHardwareTransferableFormats"/>
            <property name="disposed" getter="@getDisposed"/>
            <property name="pts" getter="@getPTS"/>
            <property name="duration" getter="@getDuration"/>
            <property name="width" getter="@getWidth"/>
            <property name="height" getter="@getHeight"/>
            <property name="hwframe" getter="@getHwframe"/>
            <property name="frameType" getter="@getFrameType"/>
            <property name="format" getter="@getFormat"/>
            <property name="formatName" getter="@getFormatName"/>
            <property name="strides" getter="@getStrides"/>
        </class>

        <class name="AVStreamDecoder" wrapper="AVStreamDecoderWrap">
            <method static="true" name="MakeFromFile" value="@MakeFromFile"/>
            <method name="getStreamInfo" value="@getStreamInfo"/>
            <method name="decodeNextFrame" value="@decodeNextFrame"/>
            <method name="seekStreamTo" value="@seekStreamTo"/>
            <method name="flushDecoderBuffers" value="@flushDecoderBuffers"/>
            <property name="hasAudioStream" getter="@hasAudioStream"/>
            <property name="hasVideoStream" getter="@hasVideoStream"/>
        </class>

        <class name="MediaFramePresentDispatcher" wrapper="MediaFramePresentDispatcher">
            <constructor prototype="v8::Local&lt;v8::Value&gt;, v8::Local&lt;v8::Value&gt;"/>
            <property name="onPresentVideoBuffer" getter="@getOnPresentVideoBuffer" setter="@setOnPresentVideoBuffer"/>
            <property name="onAudioPresentNotify" getter="@getOnAudioPresentNotify" setter="@setOnAudioPresentNotify"/>
            <property name="onErrorOrEOF" getter="@getOnErrorOrEOF" setter="@setOnErrorOrEOF"/>
            <method name="play" value="@play"/>
            <method name="pause" value="@pause"/>
            <method name="seekTo" value="@seekTo"/>
            <method name="dispose" value="@dispose"/>
        </class>
    </exports>
</module>
