<?xml version="1.0" encoding="UTF-8"?>
<module>
    <info name="workers" description="Multithreading support for JavaScript based on Worker"/>
    <metadata namespace="cocoa::gallium::bindings::workers_wrap" class="WorkersBinding"/>
    <include src="Gallium/bindings/workers/Exports.h"/>

    <exports>
        <class name="Worker" wrapper="WorkerWrap">
            <method static="true" name="MakeFromURL" value="@MakeFromURL"/>
            <property name="port" getter="@getPort"/>
        </class>

        <class name="MessagePort" wrapper="MessagePortWrap" inherit="EventEmitterBase">
            <method static="true" name="MakeConnectedPair" value="@MakeConnectedPair"/>
            <method name="close" value="@close"/>
            <method name="postMessage" value="@postMessage"/>
        </class>
    </exports>
</module>
