# Deprecated
/deprecated

# External sources
/third_party/*
/res/*

# Building directories
/cmake-build-*
/out
/build
/typescript/out
/typescript/devtools/packages
/typescript/experimental
/typescript/vizmoe/main.ts

/tools

.idea/
.vscode/