# Deprecated
/deprecated

# External sources
/third_party/*
/res/*

# Building directories
/cmake-build-*
/out
/build
/tslib/out
/tslib/devtools/packages
/tslib/experimental
/tslib/vizmoe/main.ts

/tools

.idea/
.vscode/