# Deprecated
/deprecated

# External sources
/third_party/*
/res/*

# Building directories
/cmake-build-*
/build
/tslib/out
/tslib/devtools/packages
/tslib/experimental
/tslib/.vscode
/tslib/vizmoe/main.ts

/tools

/.idea
/.vscode
/boilerplate/cairo-wasm-integration/out/
/boilerplate/cairo-wasm-integration/.vscode/
