<?xml version="1.0" encoding="UTF-8"?>
<module>
    <info name="glamor" description="Cocoa Glamor 2D Rendering Infrastructure"/>
    <metadata namespace="cocoa::gallium::bindings::glamor_wrap" class="GlamorBinding"/>
    <include src="Gallium/bindings/glamor/Exports.h"/>
    <include src="Gallium/bindings/glamor/Scene.h"/>
    <include src="Gallium/bindings/glamor/SceneBuilder.h"/>
    <include src="Gallium/bindings/glamor/CkMatrixWrap.h"/>
    <include src="Gallium/bindings/glamor/CkPaintWrap.h"/>
    <include src="Gallium/bindings/glamor/CkSurfaceWrap.h"/>
    <include src="Gallium/bindings/glamor/CkPathWrap.h"/>
    <include src="Gallium/bindings/glamor/CkPathMeasureWrap.h"/>
    <include src="Gallium/bindings/glamor/CkCanvasWrap.h"/>
    <include src="Gallium/bindings/glamor/CkTypefaceWrap.h"/>
    <include src="Gallium/bindings/glamor/CkFontWrap.h"/>
    <include src="Gallium/bindings/glamor/CkTextBlobWrap.h"/>
    <include src="Gallium/bindings/glamor/CkPathEffectWrap.h"/>
    <include src="Gallium/bindings/glamor/CkPictureRecorder.h"/>
    <include src="Gallium/bindings/glamor/CkRuntimeEffectWrap.h"/>
    <include src="Gallium/bindings/glamor/CkVerticesWrap.h"/>
    <include src="Gallium/bindings/glamor/CkFontMgrWrap.h"/>
    <include src="Gallium/bindings/glamor/ConcurrentVertexProcessor.h"/>
    <include src="Glamor/Surface.h"/>
    <include src="Glamor/Monitor.h"/>
    <hook on="instantiate" call="GlamorSetInstanceProperties"/>
    <exports>
        <toplevel type="declaration" name="Constants"/>
        <toplevel type="declaration" name="defaultFontMgr"/>
        <toplevel type="function" name="queryCapabilities" value="QueryCapabilities"/>

        <class name="RenderHost" wrapper="RenderHostWrap">
            <method static="true" name="Initialize" value="@Initialize"/>
            <method static="true" name="Dispose" value="@Dispose"/>
            <method static="true" name="Connect" value="@Connect"/>
            <method static="true" name="WaitForSyncBarrier" value="@WaitForSyncBarrier"/>
            <method static="true" name="SleepRendererFor" value="@SleepRendererFor"/>
            <method static="true" name="TraceGraphicsResources" value="@TraceGraphicsResources"/>
            <method static="true" name="CollectCriticalSharedResources" value="@CollectCriticalSharedResources"/>
        </class>

        <class name="GProfiler" wrapper="GProfilerWrap">
            <method name="purgeRecentHistorySamples" value="@purgeRecentHistorySamples"/>
            <method name="generateCurrentReport" value="@generateCurrentReport"/>
        </class>

        <class name="RenderClientObject" wrapper="RenderClientObjectWrap" invisible="true">
            <method name="connect" value="@connect"/>
            <method name="disconnect" value="@disconnect"/>
            <method name="inspectObject" value="@inspectObject"/>
        </class>

        <class name="Display" wrapper="DisplayWrap" inherit="RenderClientObjectWrap">
            <method name="close" value="@close"/>
            <method name="createRasterSurface" value="@createRasterSurface"/>
            <method name="createHWComposeSurface" value="@createHWComposeSurface"/>
            <method name="requestMonitorList" value="@requestMonitorList"/>
            <property name="defaultCursorTheme" getter="@getDefaultCursorTheme"/>
            <method name="loadCursorTheme" value="@loadCursorTheme"/>
            <method name="createCursor" value="@createCursor"/>
        </class>

        <class name="Monitor" wrapper="MonitorWrap" inherit="RenderClientObjectWrap">
            <method name="requestPropertySet" value="@requestPropertySet"/>

            <!-- Enumeration map for gl::MonitorSubpixel -->
            <property static="true" name="SUBPIXEL_UNKNOWN" value="V_CAST_U32(gl::MonitorSubpixel::kUnknown)"/>
            <property static="true" name="SUBPIXEL_NONE" value="V_CAST_U32(gl::MonitorSubpixel::kNone)"/>
            <property static="true" name="SUBPIXEL_HORIZONTAL_RGB" value="V_CAST_U32(gl::MonitorSubpixel::kHorizontalRGB)"/>
            <property static="true" name="SUBPIXEL_HORIZONTAL_BGR" value="V_CAST_U32(gl::MonitorSubpixel::kHorizontalBGR)"/>
            <property static="true" name="SUBPIXEL_VERTICAL_RGB" value="V_CAST_U32(gl::MonitorSubpixel::kVerticalRGB)"/>
            <property static="true" name="SUBPIXEL_VERTICAL_BGR" value="V_CAST_U32(gl::MonitorSubpixel::kVerticalBGR)"/>

            <!-- Enumeration map for gl::MonitorTransform -->
            <property static="true" name="TRANSFORM_NORMAL" value="V_CAST_U32(gl::MonitorTransform::kNormal)"/>
            <property static="true" name="TRANSFORM_ROTATE_90" value="V_CAST_U32(gl::MonitorTransform::kRotate90)"/>
            <property static="true" name="TRANSFORM_ROTATE_180" value="V_CAST_U32(gl::MonitorTransform::kRotate180)"/>
            <property static="true" name="TRANSFORM_ROTATE_270" value="V_CAST_U32(gl::MonitorTransform::kRotate270)"/>
            <property static="true" name="TRANSFORM_FLIPPED" value="V_CAST_U32(gl::MonitorTransform::kFlipped)"/>
            <property static="true" name="TRANSFORM_FLIPPED_90" value="V_CAST_U32(gl::MonitorTransform::kFlipped90)"/>
            <property static="true" name="TRANSFORM_FLIPPED_180" value="V_CAST_U32(gl::MonitorTransform::kFlipped180)"/>
            <property static="true" name="TRANSFORM_FLIPPED_270" value="V_CAST_U32(gl::MonitorTransform::kFlipped270)"/>

            <!-- Enumeration map for gl::MonitorMode -->
            <property static="true" name="MODE_CURRENT" value="V_CAST_U32(gl::MonitorMode::kCurrent)"/>
            <property static="true" name="MODE_PREFERRED" value="V_CAST_U32(gl::MonitorMode::kPreferred)"/>
        </class>

        <class name="CursorTheme" wrapper="CursorThemeWrap" inherit="RenderClientObjectWrap">
            <method name="dispose" value="@dispose"/>
            <method name="loadCursorFromName" value="@loadCursorFromName"/>
        </class>

        <class name="Cursor" wrapper="CursorWrap" inherit="RenderClientObjectWrap">
            <method name="dispose" value="@dispose"/>
            <method name="getHotspotVector" value="@getHotspotVector"/>
        </class>

        <class name="Surface" wrapper="SurfaceWrap" inherit="RenderClientObjectWrap">
            <property name="width" getter="@getWidth"/>
            <property name="height" getter="@getHeight"/>
            <method name="createBlender" value="@createBlender"/>
            <method name="close" value="@close"/>
            <method name="resize" value="@resize"/>
            <method name="setTitle" value="@setTitle"/>
            <method name="getBuffersDescriptor" value="@getBuffersDescriptor"/>
            <method name="requestNextFrame" value="@requestNextFrame"/>
            <method name="setMinSize" value="@setMinSize"/>
            <method name="setMaxSize" value="@setMaxSize"/>
            <method name="setMaximized" value="@setMaximized"/>
            <method name="setMinimized" value="@setMinimized"/>
            <method name="setFullscreen" value="@setFullscreen"/>
            <method name="setAttachedCursor" value="@setAttachedCursor"/>

            <!-- Enumeration map for gl::ToplevelStates -->
            <property static="true" name="TOPLEVEL_MAXIMIZED" value="V_CAST_U32(gl::ToplevelStates::kMaximized)"/>
            <property static="true" name="TOPLEVEL_FULLSCREEN" value="V_CAST_U32(gl::ToplevelStates::kFullscreen)"/>
            <property static="true" name="TOPLEVEL_RESIZING" value="V_CAST_U32(gl::ToplevelStates::kResizing)"/>
            <property static="true" name="TOPLEVEL_ACTIVATED" value="V_CAST_U32(gl::ToplevelStates::kActivated)"/>
            <property static="true" name="TOPLEVEL_TILED_LEFT" value="V_CAST_U32(gl::ToplevelStates::kTiledLeft)"/>
            <property static="true" name="TOPLEVEL_TILED_RIGHT" value="V_CAST_U32(gl::ToplevelStates::kTiledRight)"/>
            <property static="true" name="TOPLEVEL_TILED_TOP" value="V_CAST_U32(gl::ToplevelStates::kTiledTop)"/>
            <property static="true" name="TOPLEVEL_TILED_BOTTOM" value="V_CAST_U32(gl::ToplevelStates::kTiledBottom)"/>
        </class>

        <class name="Blender" wrapper="BlenderWrap" inherit="RenderClientObjectWrap">
            <property name="profiler" getter="@getProfiler"/>
            <method name="dispose" value="@dispose"/>
            <method name="update" value="@update"/>
            <method name="createTextureFromImage" value="@createTextureFromImage"/>
            <method name="createTextureFromEncodedData" value="@createTextureFromEncodedData"/>
            <method name="createTextureFromPixmap" value="@createTextureFromPixmap"/>
            <method name="deleteTexture" value="@deleteTexture"/>
            <method name="newTextureDeletionSubscriptionSignal" value="@newTextureDeletionSubscriptionSignal"/>
            <method name="captureNextFrameAsPicture" value="@captureNextFrameAsPicture"/>
            <method name="purgeRasterCacheResources" value="@purgeRasterCacheResources"/>
        </class>

        <class name="Scene" wrapper="Scene">
            <method name="dispose" value="@dispose"/>
            <method name="toImage" value="@toImage"/>
            <method name="toString" value="@toString"/>
            <property name="isDisposed" getter="@isDisposed"/>
        </class>

        <class name="SceneBuilder" wrapper="SceneBuilder">
            <constructor prototype="int32_t, int32_t"/>
            <method name="pop" value="@pop"/>
            <method name="build" value="@build"/>
            <method name="pushOffset" value="@pushOffset"/>
            <method name="pushRotate" value="@pushRotate"/>
            <method name="pushTransform" value="@pushTransform"/>
            <method name="pushOpacity" value="@pushOpacity"/>
            <method name="pushImageFilter" value="@pushImageFilter"/>
            <method name="pushBackdropFilter" value="@pushBackdropFilter"/>
            <method name="pushRectClip" value="@pushRectClip"/>
            <method name="pushRRectClip" value="@pushRRectClip"/>
            <method name="addPicture" value="@addPicture"/>
            <method name="addTexture" value="@addTexture"/>
            <method name="addVideoBuffer" value="@addVideoBuffer"/>
        </class>

        <class name="CkMatrix" wrapper="CkMatrix">
            <method static="true" name="Identity" value="@Identity"/>
            <method static="true" name="Scale" value="@Scale"/>
            <method static="true" name="Translate" value="@Translate"/>
            <method static="true" name="RotateRad" value="@RotateRad"/>
            <method static="true" name="Skew" value="@Skew"/>
            <method static="true" name="RectToRect" value="@RectToRect"/>
            <method static="true" name="All" value="@All"/>
            <method static="true" name="Concat" value="@Concat"/>
            <property name="scaleX" getter="@getScaleX" setter="@setScaleX"/>
            <property name="scaleY" getter="@getScaleY" setter="@setScaleY"/>
            <property name="translateX" getter="@getTranslateX" setter="@setTranslateX"/>
            <property name="translateY" getter="@getTranslateY" setter="@setTranslateY"/>
            <property name="skewX" getter="@getSkewX" setter="@setSkewX"/>
            <property name="skewY" getter="@getSkewY" setter="@setSkewY"/>
            <property name="perspectiveX" getter="@getPerspectiveX" setter="@setPerspectiveX"/>
            <property name="perspectiveY" getter="@getPerspectiveY" setter="@setPerspectiveY"/>
            <method name="clone" value="@clone"/>
            <method name="rectStaysRect" value="@rectStaysRect"/>
            <method name="hasPerspective" value="@hasPerspective"/>
            <method name="isSimilarity" value="@isSimilarity"/>
            <method name="preservesRightAngles" value="@preservesRightAngles"/>
            <method name="preTranslate" value="@preTranslate"/>
            <method name="preScale" value="@preScale"/>
            <method name="preRotate" value="@preRotate"/>
            <method name="preSkew" value="@preSkew"/>
            <method name="preConcat" value="@preConcat"/>
            <method name="postTranslate" value="@postTranslate"/>
            <method name="postScale" value="@postScale"/>
            <method name="postRotate" value="@postRotate"/>
            <method name="postSkew" value="@postSkew"/>
            <method name="postConcat" value="@postConcat"/>
            <method name="invert" value="@invert"/>
            <method name="normalizePerspective" value="@normalizePerspective"/>
            <method name="mapPoints" value="@mapPoints"/>
            <method name="mapPoint" value="@mapPoint"/>
            <method name="mapHomogeneousPoints" value="@mapHomogeneousPoints"/>
            <method name="mapRect" value="@mapRect"/>
            <method name="mapRadius" value="@mapRadius"/>
            <method name="isFinite" value="@isFinite"/>
        </class>

        <class name="CkPaint" wrapper="CkPaint">
            <constructor prototype=""/>
            <method name="reset" value="@reset"/>
            <method name="setAntiAlias" value="@setAntiAlias"/>
            <method name="setDither" value="@setDither"/>
            <method name="setStyle" value="@setStyle"/>
            <method name="setColor" value="@setColor"/>
            <method name="setColor4f" value="@setColor4f"/>
            <method name="setAlpha" value="@setAlpha"/>
            <method name="setAlphaf" value="@setAlphaf"/>
            <method name="setStrokeWidth" value="@setStrokeWidth"/>
            <method name="setStrokeMiter" value="@setStrokeMiter"/>
            <method name="setStrokeCap" value="@setStrokeCap"/>
            <method name="setStrokeJoin" value="@setStrokeJoin"/>
            <method name="setShader" value="@setShader"/>
            <method name="setColorFilter" value="@setColorFilter"/>
            <method name="setBlendMode" value="@setBlendMode"/>
            <method name="setBlender" value="@setBlender"/>
            <method name="setPathEffect" value="@setPathEffect"/>
            <method name="setImageFilter" value="@setImageFilter"/>
        </class>

        <class name="CkPath" wrapper="CkPath">
            <constructor prototype=""/>
            <method static="true" name="IsLineDegenerate" value="@IsLineDegenerate"/>
            <method static="true" name="IsQuadDegenerate" value="@IsQuadDegenerate"/>
            <method static="true" name="IsCubicDegenerate" value="@IsCubicDegenerate"/>
            <method name="clone" value="@clone"/>
            <method name="isInterpolatable" value="@isInterpolatable"/>
            <method name="interpolate" value="@interpolate"/>
            <method name="setFillType" value="@setFillType"/>
            <method name="toggleInverseFillType" value="@toggleInverseFillType"/>
            <method name="isConvex" value="@isConvex"/>
            <method name="reset" value="@reset"/>
            <method name="rewind" value="@rewind"/>
            <method name="isEmpty" value="@isEmpty"/>
            <method name="isLastContourClosed" value="@isLastContourClosed"/>
            <method name="isFinite" value="@isFinite"/>
            <method name="isVolatile" value="@isVolatile"/>
            <method name="setIsVolatile" value="@setIsVolatile"/>
            <method name="countPoints" value="@countPoints"/>
            <method name="getPoint" value="@getPoint"/>
            <method name="getBounds" value="@getBounds"/>
            <method name="computeTightBounds" value="@computeTightBounds"/>
            <method name="conservativelyContainsRect" value="@conservativelyContainsRect"/>
            <method name="moveTo" value="@moveTo"/>
            <method name="rMoveTo" value="@rMoveTo"/>
            <method name="lineTo" value="@lineTo"/>
            <method name="rLineTo" value="@rLineTo"/>
            <method name="quadTo" value="@quadTo"/>
            <method name="rQuadTo" value="@rQuadTo"/>
            <method name="conicTo" value="@conicTo"/>
            <method name="rConicTo" value="@rConicTo"/>
            <method name="cubicTo" value="@cubicTo"/>
            <method name="rCubicTo" value="@rCubicTo"/>
            <method name="oaaArcTo" value="@oaaArcTo"/>
            <method name="pprArcTo" value="@pprArcTo"/>
            <method name="pspArcTo" value="@pspArcTo"/>
            <method name="rPspArcTo" value="@rPspArcTo"/>
            <method name="close" value="@close"/>
            <method name="addRect" value="@addRect"/>
            <method name="addOval" value="@addOval"/>
            <method name="addCircle" value="@addCircle"/>
            <method name="addArc" value="@addArc"/>
            <method name="addRRect" value="@addRRect"/>
            <method name="addPoly" value="@addPoly"/>
            <method name="addPath" value="@addPath"/>
            <method name="addPathMatrix" value="@addPathMatrix"/>
            <method name="reverseAddPath" value="@reverseAddPath"/>
            <method name="offset" value="@offset"/>
            <method name="transform" value="@transform"/>
            <method name="toString" value="@toString"/>
        </class>

        <class name="CkPathMeasure" wrapper="CkPathMeasureWrap">
            <method static="true" name="Make" value="@Make"/>
            <method name="getLength" value="@getLength"/>
            <method name="getPositionTangent" value="@getPositionTangent"/>
            <method name="getSegment" value="@getSegment"/>
            <method name="isClosed" value="@isClosed"/>
            <method name="nextContour" value="@nextContour"/>
        </class>

        <class name="CkSurface" wrapper="CkSurface">
            <property name="width" getter="@getWidth"/>
            <property name="height" getter="@getHeight"/>
            <property name="generationID" getter="@getGenerationID"/>
            <property name="imageInfo" getter="@getImageInfo"/>
            <property name="sharedPixels" getter="@getSharedPixels"/>
            <method static="true" name="MakeRaster" value="@MakeRaster"/>
            <method static="true" name="MakeNull" value="@MakeNull"/>
            <method static="true" name="MakeSharedPixels" value="@MakeSharedPixels"/>
            <method name="getCanvas" value="@getCanvas"/>
            <method name="makeSurface" value="@makeSurface"/>
            <method name="makeImageSnapshot" value="@makeImageSnapshot"/>
            <method name="draw" value="@draw"/>
            <method name="readPixels" value="@readPixels"/>
            <method name="notifyContentWillChange" value="@notifyContentWillChange"/>
        </class>

        <class name="CkCanvas" wrapper="CkCanvas">
            <method name="save" value="@save"/>
            <method name="saveLayer" value="@saveLayer"/>
            <method name="saveLayerAlpha" value="@saveLayerAlpha"/>
            <method name="saveLayerRec" value="@saveLayerRec"/>
            <method name="restore" value="@restore"/>
            <method name="restoreToCount" value="@restoreToCount"/>
            <method name="translate" value="@translate"/>
            <method name="scale" value="@scale"/>
            <method name="rotate" value="@rotate"/>
            <method name="skew" value="@skew"/>
            <method name="concat" value="@concat"/>
            <method name="setMatrix" value="@setMatrix"/>
            <method name="resetMatrix" value="@resetMatrix"/>
            <method name="clipRect" value="@clipRect"/>
            <method name="clipRRect" value="@clipRRect"/>
            <method name="clipPath" value="@clipPath"/>
            <method name="clipShader" value="@clipShader"/>
            <method name="quickRejectRect" value="@quickRejectRect"/>
            <method name="quickRejectPath" value="@quickRejectPath"/>
            <method name="getLocalClipBounds" value="@getLocalClipBounds"/>
            <method name="getDeviceClipBounds" value="@getDeviceClipBounds"/>
            <method name="drawColor" value="@drawColor"/>
            <method name="clear" value="@clear"/>
            <method name="drawPaint" value="@drawPaint"/>
            <method name="drawPoints" value="@drawPoints"/>
            <method name="drawPoint" value="@drawPoint"/>
            <method name="drawLine" value="@drawLine"/>
            <method name="drawRect" value="@drawRect"/>
            <method name="drawOval" value="@drawOval"/>
            <method name="drawRRect" value="@drawRRect"/>
            <method name="drawDRRect" value="@drawDRRect"/>
            <method name="drawCircle" value="@drawCircle"/>
            <method name="drawArc" value="@drawArc"/>
            <method name="drawRoundRect" value="@drawRoundRect"/>
            <method name="drawPath" value="@drawPath"/>
            <method name="drawImage" value="@drawImage"/>
            <method name="drawImageRect" value="@drawImageRect"/>
            <method name="drawString" value="@drawString"/>
            <method name="drawGlyphs" value="@drawGlyphs"/>
            <method name="drawTextBlob" value="@drawTextBlob"/>
            <method name="drawPicture" value="@drawPicture"/>
            <method name="drawVertices" value="@drawVertices"/>
            <method name="drawPatch" value="@drawPatch"/>
        </class>

        <class name="CkFontStyle" wrapper="CkFontStyle">
            <constructor prototype="int32_t, int32_t, int32_t"/>
            <method static="true" name="MakeNormal" value="@MakeNormal"/>
            <method static="true" name="MakeItalic" value="@MakeItalic"/>
            <method static="true" name="MakeBold" value="@MakeBold"/>
            <method static="true" name="MakeBoldItalic" value="@MakeBoldItalic"/>
            <property name="weight" getter="@getWeight"/>
            <property name="width" getter="@getWidth"/>
            <property name="slant" getter="@getSlant"/>
        </class>

        <class name="CkTypeface" wrapper="CkTypeface">
            <method static="true" name="MakeDefault" value="@MakeDefault"/>
            <method static="true" name="MakeFromName" value="@MakeFromName"/>
            <method static="true" name="MakeFromFile" value="@MakeFromFile"/>
            <method static="true" name="MakeFromData" value="@MakeFromData"/>
            <property name="fontStyle" getter="@getFontStyle"/>
            <property name="bold" getter="@getBold"/>
            <property name="italic" getter="@getItalic"/>
            <property name="fixedPitch" getter="@getFixedPitch"/>
            <property name="uniqueID" getter="@getUniqueID"/>
            <property name="unitsPerEm" getter="@getUnitsPerEm"/>
            <property name="familyName" getter="@getFamilyName"/>
            <method name="getKerningPairAdjustments" value="@getKerningPairAdjustments"/>
            <method name="unicharsToGlyphs" value="@unicharsToGlyphs"/>
            <method name="textToGlyphs" value="@textToGlyphs"/>
            <method name="unicharToGlyph" value="@unicharToGlyph"/>
            <method name="countGlyphs" value="@countGlyphs"/>
            <method name="countTables" value="@countTables"/>
            <method name="getTableTags" value="@getTableTags"/>
            <method name="getTableSize" value="@getTableSize"/>
            <method name="copyTableData" value="@copyTableData"/>
        </class>

        <class name="CkFont" wrapper="CkFont">
            <method static="true" name="Make" value="@Make"/>
            <method static="true" name="MakeFromSize" value="@MakeFromSize"/>
            <method static="true" name="MakeTransformed" value="@MakeTransformed"/>
            <method name="countText" value="@countText"/>
            <method name="measureText" value="@measureText"/>
            <method name="measureTextBounds" value="@measureTextBounds"/>
            <method name="getBounds" value="@getBounds"/>
            <method name="getPos" value="@getPos"/>
            <method name="getIntercepts" value="@getIntercepts"/>
            <method name="getPath" value="@getPath"/>
            <property name="forceAutoHinting" getter="@getForceAutoHinting" setter="@setForceAutoHinting"/>
            <property name="embeddedBitmaps" getter="@getEmbeddedBitmaps" setter="@setEmbeddedBitmaps"/>
            <property name="subpixel" getter="@getSubpixel" setter="@setSubpixel"/>
            <property name="linearMetrics" getter="@getLinearMetrics" setter="@setLinearMetrics"/>
            <property name="embolden" getter="@getEmbolden" setter="@setEmbolden"/>
            <property name="baselineSnap" getter="@getBaselineSnap" setter="@setBaselineSnap"/>
            <property name="edging" getter="@getEdging" setter="@setEdging"/>
            <property name="hinting" getter="@getHinting" setter="@setHinting"/>
            <property name="size" getter="@getSize" setter="@setSize"/>
            <property name="scaleX" getter="@getScaleX" setter="@setScaleX"/>
            <property name="skewX" getter="@getSkewX" setter="@setSkewX"/>
            <property name="spacing" getter="@getSpacing"/>
        </class>

        <class name="CkFontStyleSet" wrapper="CkFontStyleSet">
            <method name="count" value="@count"/>
            <method name="getStyle" value="@getStyle"/>
            <method name="getStyleName" value="@getStyleName"/>
            <method name="createTypeface" value="@createTypeface"/>
            <method name="matchStyle" value="@matchStyle"/>
        </class>

        <class name="CkFontMgr" wrapper="CkFontMgr">
            <method name="countFamilies" value="@countFamilies"/>
            <method name="getFamilyName" value="@getFamilyName"/>
            <method name="createStyleSet" value="@createStyleSet"/>
            <method name="matchFamilyStyle" value="@matchFamilyStyle"/>
            <method name="makeFromFile" value="@makeFromFile"/>
            <method name="makeFromData" value="@makeFromData"/>
        </class>

        <class name="CkTextBlob" wrapper="CkTextBlob">
            <method static="true" name="MakeFromText" value="@MakeFromText"/>
            <method static="true" name="MakeFromPosTextH" value="@MakeFromPosTextH"/>
            <method static="true" name="MakeFromPosText" value="@MakeFromPosText"/>
            <method static="true" name="MakeFromRSXformText" value="@MakeFromRSXformText"/>
            <property name="bounds" getter="@getBounds"/>
            <property name="uniqueID" getter="@getUniqueID"/>
            <method name="getIntercepts" value="@getIntercepts"/>
        </class>

        <class name="CkVertices" wrapper="CkVertices">
            <method static="true" name="MakeCopy" value="@MakeCopy"/>
            <property name="uniqueID" getter="@getUniqueID"/>
            <property name="bounds" getter="@getBounds"/>
        </class>

        <class name="CkPictureRecorder" wrapper="CkPictureRecorder">
            <constructor prototype=""/>
            <method name="beginRecording" value="@beginRecording"/>
            <method name="getRecordingCanvas" value="@getRecordingCanvas"/>
            <method name="finishRecordingAsPicture" value="@finishRecordingAsPicture"/>
            <method name="finishRecordingAsPictureWithCull" value="@finishRecordingAsPictureWithCull"/>
        </class>

        <class name="CkImageFilter" wrapper="CkImageFilterWrap">
            <method static="true" name="MakeFromDSL" value="@MakeFromDSL"/>
            <method static="true" name="Deserialize" value="@Deserialize"/>
            <method name="serialize" value="@serialize"/>
        </class>

        <class name="CkColorFilter" wrapper="CkColorFilterWrap">
            <method static="true" name="MakeFromDSL" value="@MakeFromDSL"/>
            <method static="true" name="Deserialize" value="@Deserialize"/>
            <method name="serialize" value="@serialize"/>
        </class>

        <class name="CkShader" wrapper="CkShaderWrap">
            <method static="true" name="MakeFromDSL" value="@MakeFromDSL"/>
            <method name="makeWithLocalMatrix" value="@makeWithLocalMatrix"/>
            <method name="makeWithColorFilter" value="@makeWithColorFilter"/>
        </class>

        <class name="CkBlender" wrapper="CkBlenderWrap">
            <method static="true" name="Mode" value="@Mode"/>
            <method static="true" name="Arithmetic" value="@Arithmetic"/>
        </class>

        <class name="CkPathEffect" wrapper="CkPathEffect">
            <method static="true" name="MakeFromDSL" value="@MakeFromDSL"/>
        </class>

        <class name="CkBitmap" wrapper="CkBitmapWrap">
            <method static="true" name="MakeFromBuffer" value="@MakeFromBuffer"/>
            <method static="true" name="MakeFromEncodedFile" value="@MakeFromEncodedFile"/>
            <property name="width" getter="@getWidth"/>
            <property name="height" getter="@getHeight"/>
            <property name="alphaType" getter="@getAlphaType"/>
            <property name="colorType" getter="@getColorType"/>
            <property name="bytesPerPixel" getter="@getBytesPerPixel"/>
            <property name="rowBytesAsPixels" getter="@getRowBytesAsPixels"/>
            <property name="shiftPerPixel" getter="@getShiftPerPixel"/>
            <property name="rowBytes" getter="@getRowBytes"/>
            <method name="computeByteSize" value="@computeByteSize"/>
            <method name="toImage" value="@toImage"/>
            <method name="makeShader" value="@makeShader"/>
            <method name="getPixelBuffer" value="@getPixelBuffer"/>
        </class>

        <class name="CkImage" wrapper="CkImageWrap">
            <method static="true" name="MakeFromEncodedData" value="@MakeFromEncodedData"/>
            <method static="true" name="MakeFromEncodedFile" value="@MakeFromEncodedFile"/>
            <method static="true" name="MakeFromVideoBuffer" value="@MakeFromVideoBuffer"/>
            <method name="uniqueId" value="@uniqueId"/>
            <method name="makeSharedPixelsBuffer" value="@makeSharedPixelsBuffer"/>
            <method name="makeShader" value="@makeShader"/>
            <method name="makeRawShader" value="@makeRawShader"/>
            <property name="width" getter="@getWidth"/>
            <property name="height" getter="@getHeight"/>
            <property name="alphaType" getter="@getAlphaType"/>
            <property name="colorType" getter="@getColorType"/>
        </class>

        <class name="CkRuntimeEffect" wrapper="CkRuntimeEffect">
            <method static="true" name="MakeForShader" value="@MakeForShader"/>
            <method static="true" name="MakeForBlender" value="@MakeForBlender"/>
            <method static="true" name="MakeForColorFilter" value="@MakeForColorFilter"/>
            <method name="uniforms" value="@uniforms"/>
            <method name="children" value="@children"/>
            <method name="findUniform" value="@findUniform"/>
            <method name="findChild" value="@findChild"/>
            <method name="makeShader" value="@makeShader"/>
            <method name="makeBlender" value="@makeBlender"/>
            <method name="makeColorFilter" value="@makeColorFilter"/>
        </class>

        <class name="CkPicture" wrapper="CkPictureWrap">
            <method static="true" name="MakeFromData" value="@MakeFromData"/>
            <method static="true" name="MakeFromFile" value="@MakeFromFile"/>
            <method name="serialize" value="@serialize"/>
            <method name="approximateOpCount" value="@approximateOpCount"/>
            <method name="approximateByteUsed" value="@approximateByteUsed"/>
            <method name="uniqueId" value="@uniqueId"/>
        </class>

        <class name="CriticalPicture" wrapper="CriticalPictureWrap">
            <method name="sanitize" value="@sanitize"/>
            <method name="discardOwnership" value="@discardOwnership"/>
            <method name="setCollectionCallback" value="@setCollectionCallback"/>
            <method name="serialize" value="@serialize"/>
        </class>

        <class name="VertexBatch" wrapper="VertexBatch">
        </class>

        <class name="VertexBatchBuilder" wrapper="VertexBatchBuilder">
            <constructor prototype=""/>
            <method name="pushPositionMatrix" value="@pushPositionMatrix"/>
            <method name="pushTexCoordMatrix" value="@pushTexCoordMatrix"/>
            <method name="popPositionMatrix" value="@popPositionMatrix"/>
            <method name="popTexCoordMatrix" value="@popTexCoordMatrix"/>
            <method name="addVertexGroup" value="@addVertexGroup"/>
            <method name="build" value="@build"/>
        </class>

        <class name="ConcurrentVertexProcessor" wrapper="ConcurrentVertexProcessor">
            <constructor prototype="uint32_t, uint32_t"/>
            <method name="transform" value="@transform"/>
        </class>
    </exports>
</module>
